
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Slender by alanpich</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono|PT+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url('assets/styles/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url('assets/lib/prism/prism.css')}}" />
    {#<link rel="stylesheet" href="http://alanpich.github.io/slender/stylesheets/pygment_trac.css">#}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <script src="{{ url('assets/lib/prism/prism.js')}}"></script>
    <script>
        Prism.languages.yaml = {
            comment: /#.*/ig,
            key: /^\s*[^\s]+:/igm,
            string: /(?:"[a-z][^"]*"|[a-z][\w\s<>&\.;="]*)/ig,
            number: /\b[0-9]+\b/ig,
            keyword: /(?:^\s*-|\[|\]|\||\s>)/
        };

        Prism.languages.tree = {
            branch: /\│|\├|\─|\└+/ig,
            folder: /.+\//ig,
            comment: /#.*/ig,
            key: /^\s*[^\s]+:/igm,
            string: /(?:"[a-z][^"]*"|[a-z][\w\s<>&\.;="]*)/ig,
            number: /\b[0-9]+\b/ig,
            keyword: /(?:^\s*-|\[|\]|\||\s>)/,
        };


        $(function(){
            $('#content').find('h1,h2,h3,h4,h5,h6').each(function(){
                if($(this).attr('id')){
                    var id = $(this).attr('id'),
                        anchor = document.createElement('a');
                    anchor.name = id;
                    $(anchor).insertBefore(this);
                }
            })
        })
    </script>

    <style>
        html,body {
            font-family:Open Sans;
        }

        h1,h2,h3,h4,h5,h6 {
            font-weight: 400;
            margin-top: 1em;
            margin-bottom: .5em;
        }

        h3 {
            padding-bottom: .4em;
            border-bottom: 1px solid #f4f4f4;
        }

        pre[class*="language-"] {
            margin: 2em auto;
        }
        code[class*="language-"] {
            font-family: PT Mono;
        }


        pre.language-tree {
            line-height: 1.3em;
        }

        pre.language-tree .branch {
            color: #bbb;
            text-shadow: 1px 1px 1px #fff;
        }

        pre.language-tree .folder {
            color: #690;
        }

        pre.language-tree .string {
            color:#710909;
        }

        code .token.comment {
            font-family: PT Mono;
            font-size:.8em;
            color: #710909;
            color:#888;
        }

        #build-buttons {
            position: fixed;
            top: 4px;
            right: 4px;
            max-width: 100%;
            width: 100%;
            text-align:right;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        {% include 'bits/sidebar.twig' %}
    </header>
    <section id="content" class="lang-yaml">
        {{ page.content|raw }}
    </section>
    <footer>
        <p>This project is maintained by <a href="https://github.com/alanpich">alanpich</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="{{ url('javascripts/scale.fix.js')}}"></script>

</body>
</html>