<h1>Slender</h1>
<h3>Slim, but with a bit more meat.</h3>
<img src="https://poser.pugx.org/slender/slender/license.png"/>
<img src="https://poser.pugx.org/slender/slender/downloads.png"/>
<img src="https://poser.pugx.org/slender/slender/v/stable.png"/>


<p class="view" style="margin-top:2em; margin-bottom:2em">
    <a href="{{ url('index.html') }}">Overview</a><br/>
    <a href="{{ url('setup/overview.html') }}">Installation & Usage</a><br/>
    <span style="font-size: .8em">
        <a href="{{ url('setup/overview.html') }}"  style="margin-left:1em">- Overview</a><br />
        <a href="{{ url('setup/folder-structure.html') }}" style="margin-left:1em">- Folder Structure</a><br />
        <a href="{{ url('setup/configuration.html') }}" style="margin-left:1em">- Configuration</a><br />
        <a href="{{ url('setup/app.html') }}" style="margin-left:1em">- Application Initialization</a><br />
    </span>
    <a>Configuration Loader</a><br />
    <span style="font-size: .8em">
        <a href="{{ url('configuration-loader/default-configuration.html')}}" style="margin-left:1em">- Default Configuration</a><br />
        <a href="{{ url('configuration-loader/service-configuration.html')}}" style="margin-left:1em">- Services & Factories</a><br />
        <a href="{{ url('configuration-loader/route-configuration.html')}}" style="margin-left:1em">- Route definitions</a><br />
    </span>
    <a>Modules</a><br />
    <span style="font-size: .8em">
        <a href="{{ url('modules/defining-a-module.html')}}" style="margin-left:1em">- Defining a Module</a><br />
        <a href="{{ url('modules/loading-modules.html')}}" style="margin-left:1em">- Loading Modules</a><br />
        <a href="{{ url('modules/module-config-file.html')}}" style="margin-left:1em">- Module configuration</a><br />
        <a href="{{ url('modules/example-module-config.html')}}" style="margin-left:1em">- Config file examples</a><br />
        <a href="{{ url('modules/module-hooks.html')}}" style="margin-left:1em">- Module Invokables</a><br />
    </span>

</p>


<p class="view">
    <a href="https://github.com/alanpich/slender">View the Project on GitHub
        <small>alanpich/slender</small>
    </a>
</p>

