<h1>Slender</h1>
<h3>Slim, but with a bit more meat.</h3>

{# Travis & Packagist badges #}
<a href="https://github.com/alanpich/slender/blob/master/LICENSE">
    <img src="https://poser.pugx.org/slender/slender/license.png"/>
</a>
<a href="https://packagist.org/packages/slender/slender">
    <img src="http://img.shields.io/packagist/v/slender/slender.svg" />
</a>


<aside id="build-buttons">
    <a href="https://travis-ci.org/alanpich/slender">
        <img src="https://travis-ci.org/alanpich/slender.png?branch=master"/>
    </a>
    <a href="https://packagist.org/packages/slender/slender">
        <img src="https://poser.pugx.org/slender/slender/v/stable.png"/>
    </a>
    {#
        <a href="https://packagist.org/packages/slender/slender">
            <img src="https://poser.pugx.org/slender/slender/downloads.png"/>
        </a>
    #}
</aside>

<nav>
    <ul>
        <li>
            <a href="{{ url('index.html') }}">Overview</a>
        </li>
        <li>
            <a href="{{ url('setup/overview.html') }}">Installation & Usage</a>
            <ul>
                <li><a href="{{ url('setup/overview.html') }}">Overview</a></li>
                <li><a href="{{ url('setup/folder-structure.html') }}">Folder Structure</a></li>
                <li><a href="{{ url('setup/configuration.html') }}">Configuration</a></li>
                <li><a href="{{ url('setup/app.html') }}">Application Initialization</a></li>
            </ul>
        </li>
        <li>
            <a href="">Configuration Loader</a>
            <ul>
                <li><a href="{{ url('configuration-loader/default-configuration.html') }}">Default Configuration</a></li>
                <li><a href="{{ url('configuration-loader/service-configuration.html') }}">Services & Factories</a></li>
                <li><a href="{{ url('configuration-loader/route-configuration.html') }}">Route Definitions</a></li>
                <li><a href="{{ url('configuration-loader/route-middleware.html') }}">Route Middleware</a></li>
            </ul>
        </li>
        <li>
            <a href="">Modules</a>
            <ul>
                <li><a href="{{ url('modules/defining-a-module.html') }}">Defining a Module</a></li>
                <li><a href="{{ url('modules/loading-modules.html') }}">Loading Modules</a></li>
                <li><a href="{{ url('modules/module-config-file.html') }}">Module configuration</a></li>
                <li><a href="{{ url('modules/example-module-config.html') }}">Example Config file</a></li>
                <li><a href="{{ url('modules/module-hooks.html') }}">Module Invokables</a></li>
            </ul>
        </li>
    </ul>
</nav>


<p class="view">
    <a href="https://github.com/alanpich/slender">View the Project on GitHub
        <small>alanpich/slender</small>
    </a>
</p>

